/* selector{
property:value;
} */

p {
    color: rgb(47, 19, 202) h1 {
        background-color: brown;
        color: white;
    }

    #text {
        color: blue;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 10px;
        text-decoration: underline;
    }

    .link {
        color: black;
        text-decoration: none;
    }
    *{
        color:brown;
        background-color:aqua
    }
    